<!DOCTYPE html>
<html lang="en" ng-app="tutor_13">
<head>
    <meta charset="UTF-8">
    <title>Angular Tutor</title>
    <link href="/static/css/Styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.7.9/angular.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/tutorials/tutor_13.js"></script>
    <script type="text/javascript" src="/static/js/tutorials/tutor_13_filter.js"></script>
</head>
<body>

<div ng-controller="tutor_13">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees">
            <td> {{ employee.name }} </td>
            <td> {{ employee.gender | gender }} </td>
            <td> {{ employee.salary }} </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>