<!DOCTYPE html>
<html lang="en" ng-app="tutor_15_2">
<head>
    <meta charset="UTF-8">
    <title>Angular Tutor</title>
    <link href="/static/css/Styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.7.9/angular.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/tutorials/tutor_15_2.js"></script>
</head>
<body>

<div ng-controller="tutor_15_2">

    <ul>
        <li ng-repeat="country in countries" ng-init="parentIndex = $index">
            {{country.name}}
            <ul>
                <li ng-repeat="city in country.cities">
                    {{city.name}} ParentIndex = {{parentIndex}} - Index = {{$index}}
                </li>
            </ul>
        </li>
    </ul>

</div>

</body>
</html>