<!DOCTYPE html>
<html lang="en" ng-app="tutor_16">
<head>
    <meta charset="UTF-8">
    <title>Angular Tutor</title>
    <link href="/static/css/Styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.7.9/angular.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/tutorials/tutor_16.js"></script>
</head>
<body>

<div ng-controller="tutor_16">

    <form novalidate class="simple-form" name="form">
        <label>Name: <input type="text" ng-model="user.name"/></label><br/>
        <label>E-mail: <input type="email" ng-model="user.email"/></label><br/>
        Best Editor: <label><input type="radio" ng-model="user.preference" value="vi"/>vi</label>
        <label><input type="radio" ng-model="user.preference" value="emacs"/>emacs</label>

        <br><label>http code: <input type="number" ng-model="user.code" name="uCode"  required http-codes-only/></label><br/>
        <div ng-show="form.$submitted || form.uCode.$touched">
            <div ng-show="form.uCode.$error.required">http code: should not be empty</div>
            <div ng-show="form.uCode.$error.httpCodesOnly">http code: should be only http code</div>
        </div>

        <input type="button" ng-click="reset()" value="Reset"/>
        <input type="submit" ng-disabled="form.$invalid" ng-click="form.$valid && update.submit(user)" value="Save"/>
    </form>
    <pre>user = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>


</div>

<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>

</body>
</html>