<!DOCTYPE html>
<html lang="en" ng-app="tutor_14">
<head>
    <meta charset="UTF-8">
    <title>Angular Tutor</title>
    <link href="/static/css/Styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.7.9/angular.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/tutorials/tutor_14.js"></script>
</head>
<body>

<div ng-controller="tutor_14">
    <input type="checkbox" ng-model="hideSalary">Hide Salary
    <br><br>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th ng-hide="hideSalary">Salary with hide</th>
            <th ng-show="!hideSalary">Salary with show</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees">
            <td> {{ employee.name }}</td>
            <td> {{ employee.gender }}</td>
            <td ng-hide="hideSalary"> {{ employee.salary }}</td>
            <td ng-show="!hideSalary"> {{ employee.salary }}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>