<!DOCTYPE html>
<html lang="en" ng-app="tutor_15">
<head>
    <meta charset="UTF-8">
    <title>Angular Tutor</title>
    <link href="/static/css/Styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.7.9/angular.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/tutorials/tutor_15.js"></script>
</head>
<body>

<div ng-controller="tutor_15">

    <!--Пример использования ng-init -->
    <!--!!! НО так использовать его в реальной разработке нельзя, подобная инициализация должна быть внутри контроллера-->

    <div ng-init="employees = [
            { name: 'Ben', gender: 'Male', salary: 55000 },
    { name: 'Sara', gender: 'Female', salary: 68000 },
    { name: 'Mark', gender: 'Male', salary: 57000 },
    { name: 'Pam', gender: 'Female', salary: 53000 },
    { name: 'Todd', gender: 'Male', salary: 60000 }
    ]">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees">
                <td> {{ employee.name }}</td>
                <td> {{ employee.gender }}</td>
                <td> {{ employee.salary }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>